* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #23512F;
}

header {
    text-align: center;
    font-size: 5vmin;  
    margin: 0.5vmin 0vmin; 
    border: 0.5vmin dotted #C8B632 ;
    
}

#dealer {
    text-align: center;
    font-size: 5vmin;   
    margin-bottom: 1vmin;
}

#dlr.card-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid #C8B632 ; */
    justify-content: center; 
    font-size: 3vmin;
    color: #C8B632; 
    height: 19vmin;
}

.score {
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #C8B632;
}

#player {
    text-align: center;
    font-size: 5vmin;
    margin-bottom: 1vmin;
}

#plr.card-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid #C8B632 ; */
    justify-content: center;  
    font-size: 3vmin;
    color: #C8B632;
    height: 19vmin;
}

button {
    cursor: pointer;
}

.button {
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #C8B632;
    color: red;  
    width: 100px;
    height: 100px;
    margin: 5px;
}

#double:disabled, #deal:disabled {
    background-color: brown;
    cursor: not-allowed;
}

#deal {
    margin-left: 40px;
}

#panel {
    text-align: center;
    border-top: 1px solid #070707;
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding-top: 10px;
}
#one, #five, #twentyfive, #hundred {
    height:100px;
    border-radius:50%;
    width:100px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#one {
    /* background-color: #8C9193; */
    border:1px solid #8C9193; 
    background-image: url("https://i.imgur.com/al1dGcf.jpg");   
    background-position: center;
    background-size: cover;
    font-size: 0px;  
}

#five {
    background-color: #780822;
    border:1px solid #780822;    
    background-image: url("https://i.imgur.com/0O7oE7y.jpg"); 
    background-position: center;
    background-size: cover;
    font-size: 0px;  
}

#twentyfive {
    background-color:#0C332D;
    border:1px solid #0C332D; 
    background-image: url("https://i.imgur.com/Fz7m3qG.jpg");
    background-position: center;
    background-size: cover;
    font-size: 0px;  
}

#hundred {
    background-color: #10120E;
    border:1px solid  #10120E;    
    background-image: url("https://i.imgur.com/dizb6iS.jpg");
    background-position: center;
    background-size: cover;
    font-size: 0px;  
}

#bet-controls, #game-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#totalbet, #betamt {
    color: #C8B632;
    font-size: 25px;
    margin: 0px 0px 5px 30px;
    text-align: left;
}

#bank, #bankroll {
    color: #C8B632;
    font-size: 25px;
    margin: 0px 0px 5px 30px;
    text-align: left;
}

#msg {
    font-size: 30px;
}

#dhand, #phand {
    height: 20vmin;
}

#dhand > div, #phand > div {
    transform: scale(1.1);
    margin: 0 1.3vmin;
}

